@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --primary-color: #396E94;
    --secondary-color: #E7C24F;
    --accent1-color: #A43312;
    --accent2-color: #381D2A;
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    --callout-font: 'Merriweather', serif;
    --navigation-bg-color: var(--primary-color);
    --navigation-link-color: #ffffff;
    --navigation-hover-link-color: var(--secondary-color);
    --navigation-hover-bg-color: var(--accent1-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}

nav {
    background-color: var(--navigation-bg-color);
    font-size: 1.2rem;
    display: flex;
    padding: 10px 0;
}

nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-bg-color);
}

footer {
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
}