@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --primary-color: #4b88a2;
    --secondary-color: #eabe7c;
    --accent1-color: #aaffe5;
    --accent2-color: #30323d;
    --accent3-color: #698f3f;

    --heading-font: 'Raleway', sans-serif;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: var(--secondary-color);
    --nav-link-color: var(--primary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent3-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
    padding: 20px;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    padding: 20px;
    background-color: var(--accent3-color);
    color: var(--primary-color);
    text-align: center;
}